@charset "UTF-8";

body{
    background-color: rgba(127, 255, 212, 0.459);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    line-height: 0.6cm;
    margin: auto;
    text-align: center;
}

section{
    background-color: white;
    border-radius: 10px;
    width: 500px;
    margin: auto;
    border: ridge;
}

h1{
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.322);
}