@charset "UTF-8";

body{
    background-color: rgba(0, 0, 0, 0.219);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

button{
    font-size: 1.5em;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

div#d1{
    margin-top: 15px;
    line-height: 0.8cm;
}
